name: build
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:

        #Setup Shallow clone
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
       
        #Setup Setup dotnet & restore dependencies.
      - name: setup dotnet
        uses: actions/setup-dotnet@v3
        
      - name: dotnet restore
        run: dotnet restore
        
        #Setup sonarqube dependencies, run scan
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'microsoft'
          java-version: '17'
          java-package: jdk
     
      - name: Cache SonarQube packages
        uses: actions/cache@v1
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache SonarQube scanner
        id: cache-sonar-scanner
        uses: actions/cache@v1
        with:
          path: .\.sonar\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install SonarQube scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path .\.sonar\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        shell: powershell
        run: |
          .\.sonar\scanner\dotnet-sonarscanner begin /k:"FrankvdStam_SoulSplitter_AYT9tJW7QlZ0fhD27xsa" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="${{ secrets.SONAR_HOST_URL }}" /d:sonar.cs.opencover.reportsPaths=tests/**/*.xml
          dotnet build src/soulsplitter/soulsplitter.csproj
          dotnet test -p:CollectCoverage=true -p:CoverletOutputFormat=opencover
          .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"

      - name: Publish SoulSplitter
        uses: actions/upload-artifact@v4
        with:
          name: SoulSplitter
          path: |
            src\SoulSplitter\bin\x64\Release\net481\SoulSplitter.dll
            src\SoulSplitter\bin\x64\Release\net481\SoulMemory.dll
            src\SoulSplitter\bin\x64\Release\net481\MaterialDesignColors.dll
            src\SoulSplitter\bin\x64\Release\net481\MaterialDesignThemes.Wpf.dll
            LICENSE

      - name: Build CliTimer
        shell: powershell
        run: dotnet build src\CliTimer\CliTimer.csproj -c release

      - name: Publish CliTimer
        uses: actions/upload-artifact@v4
        with:
          name: CliTimer
          path: |
            src\CliTimer\bin\release\net481\CliTimer.exe
            src\CliTimer\bin\release\net481\CliTimer.exe.config
            src\CliTimer\bin\release\net481\SoulMemory.dll
